

  <%= form_with(model: character, local: true, class: "ui form") do |form| %>
    <% if character.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

        <ul>
          <% character.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
        <%= form.label :player %>
       <%= form.collection_select :player_id,
        Player.order(:name),:id,:name, { include_blank: true } %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="actions">
      <%= form.submit class: "ui button" %>
    </div>
  <% end %>
