
  <p id="notice"><%= notice %></p>

  <h1>Characters</h1>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Player</th>
        <th>XP</th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td><%= link_to character.name, character %></td>
          <td><%= link_to character.player.name, character.player %></td>
          <td><%= character.xp %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
