
  <p id="notice"><%= notice %></p>

  <h1><%= @character.name %></h1>

  <p>
    <strong>Player:</strong>
    <%= @character.player.name %>
  </p>

  <p>
    <strong>XP:</strong>
    <%= @character.xp %>
  </p>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Player</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
      <% @character.xp_entries.each do |entry| %>
        <tr>
          <td><%= entry.amount %></td>
          <td><%= entry.player %></td>
          <td><%= entry.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', characters_path %>
