<%= form_with(model: xp_entry, local: true) do |form| %>
  <% if xp_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(xp_entry.errors.count, "error") %> prohibited this xp_entry from being saved:</h2>

      <ul>
        <% xp_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.text_field :player_id %>
  </div>

  <div class="field">
    <%= form.label :character_id %>
    <%= form.text_field :character_id %>
  </div>

  <div class="field">
    <%= form.label :audited %>
    <%= form.check_box :audited %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
