<p id="notice"><%= notice %></p>

<h1>Xp Entries</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Player</th>
      <th>Character</th>
      <th>Audited</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xp_entries.each do |xp_entry| %>
      <tr>
        <td><%= xp_entry.amount %></td>
        <td><%= xp_entry.player_id %></td>
        <td><%= xp_entry.character_id %></td>
        <td><%= xp_entry.audited %></td>
        <td><%= link_to 'Show', xp_entry %></td>
        <td><%= link_to 'Edit', edit_xp_entry_path(xp_entry) %></td>
        <td><%= link_to 'Destroy', xp_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xp Entry', new_xp_entry_path %>
