<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @xp_entry.amount %>
</p>

<p>
  <strong>Player:</strong>
  <%= @xp_entry.player_id %>
</p>

<p>
  <strong>Character:</strong>
  <%= @xp_entry.character_id %>
</p>

<p>
  <strong>Audited:</strong>
  <%= @xp_entry.audited %>
</p>

<%= link_to 'Edit', edit_xp_entry_path(@xp_entry) %> |
<%= link_to 'Back', xp_entries_path %>
